{port_env, [
    {"linux|bsd", "LDFLAGS", "-lpcap $LDFLAGS"},
    % Windows support
    {"win32", "CC", "cl.exe"},
    {"win32", "CXX", "cl.exe"},
    {"win32", "LINKER", "link.exe"},
    {"win32", "DRV_CFLAGS", "/W4 /wd4100 /wd4127 /D__WIN32__ /DWIN32"},
    {"win32", "DRV_LDFLAGS", "$DRV_LDFLAGS ws2_32.lib wpcap.lib Packet.lib"}
    ]}.

{port_specs, [
    {"linux|bsd", "priv/ewpcap.so", ["c_src/ewpcap.c"]},
    {"win32", "priv/ewpcap.dll", ["c_src/ewpcap.c"]}
    ]}.
